@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

font-family: 'Outfit', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}
:root{
    --clr-blue:#6feaf6;
    --clr-gray: #777;
  --clr-white: #fff;
  --clr-dark: #1c2042;

}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
   
}
header{
    font-size: 1.5rem;
    border-bottom: 2px solid var(--clr-gray);
}
main{
    min-width: 27%;
    min-height: 15rem;
    border-radius: 2%;
    background-color: var(--clr-white);
    box-shadow: 3px 3px 5px var(--clr-gray);
    color: var(--clr-dark);

}

.container{
   min-width: 80%;
   height: 100%;
   padding: 0.8rem;
   display: flex;
   flex-direction: column;  
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

.input-container label{
   font-size: 1.2rem;
   font-weight: 600; 
}
.input-container input{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid var(--clr-dark);
    transition: all 0.2s ease;
}

.btn-calculate{
font-size: 1.2rem;
font-weight: bold;
padding: 0.8rem 1rem;
background-color: var(--clr-dark);
color: var(--clr-white);
transition: all 0.2s ease;
cursor: pointer;
}
.btn-calculate:hover{
    background-color: var(--clr-white);
    color: var(--clr-dark);
    transform: translate(0.2rem);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
-webkit-appearance: none;
margin: 0;
}

.error-message{
    display: none;
    font-size: 0.8rem;
    text-align: center;
    color: red;
}

.success-container{
    display: none;
    margin: 0.5rem auto;
    min-height: 5rem;
    width: 20rem;
}
.success-message{
    font-size: 1rem;
    text-align: center;
    color: green;
}

.denomination-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--clr-dark);
    margin-bottom: 0;
}

.denomination{
    list-style: none;
    margin: 0.5rem auto;
    margin-top: 0;
}
.list-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--clr-dark);
}
.denomination-value{
    margin: 0.25rem 1rem;
    padding: 0 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.denomination-count{
    padding: 0 1rem;
    margin: 0 1rem;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    border-left: 1px solid var(--clr-dark);
}